body {
  /*padding-top: 80px;*/
  font-family: Arial;
  font-size:10px;
}
h1 {

  margin-top: 80px;
  font-size: 5rem;
}
h2 {
  font-size: 5rem;
}
a {
  text-decoration: none;
}
a:visited {
  color: #BB020A;
}
nav ul li {
  color: #fff;
  font-size: 18px;
  display: inline-block;
  border: 1px solid #BB020A;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 10px 20px;
  background-color: #BB020A;
}
nav ul li:hover {
  color: #BB020A;
  background-color: white;
}
nav {
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100px;
}
nav>ul {
  margin: 0;
  padding: 0;
}
.tab-active {
  color: yellow;
  background-color: black;
}
.tab-active {
  background-color: green;
}
.red {
  color: #BB020A;
}
.center-text {
  text-align: center;
}
.contrainer {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
#heading {
  position: absolute;
  top: 0;
  left: 0;

}
.main-image{width:50%;}

@media(max-width: 879px){
 .homepage-heading{font-size: 3rem;
                  margin-top: 60px;}
  .main-image{width:80%;}
  nav ul li{
    font-size: 15px;
    padding:10px 10px;
  }
  .main-image{width:50%;}
}

@media(max-width:439px){
  .homepage-heading{font-size: 30px;
                  margin-top: 120px}

nav ul li{margin: 10px 0px;
display:block;}

}


